%div.side-bar
  .side-bar__side-header  
    .side-bar__side-header__box
      %p.side-bar__side-header__box__top-items
        masa
      %ul.side-bar__side-header__box__top-items__icon
        %li.side-bar__side-header__box__top-items__icon__edit
          = link_to "#", class: "edit" do
            <i class="far fa-edit"></i>
        %li.side-bar__side-header__box__top-items__icon__new-group
          = link_to "#", class: "group" do
            <i class="fa fa-cog"></i>

  .side-bar__groups
    .side-bar__groups__group
      = link_to "#", class: "group" do 
        %p.side-bar__groups__group__name
          こんにちは
        %p.side-bar__groups__group__message
          メッセージがありません

    .side-bar__groups__group
      = link_to "#", class: "group" do 
        %p.side-bar__groups__group__name
          こんにちは
        %p.side-bar__groups__group__message
          メッセージがありません

    .side-bar__groups__group
      = link_to "#", class: "group" do 
        %p.side-bar__groups__group__name
          こんにちは
        %p.side-bar__groups__group__message
          メッセージがありません                
    